*.idea
logs
project/project
project/target
target
/.bsp/sbt.json
tmp
.history
dist
/.idea
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
.DS_Store
.bloop/
.metals/
project/.bloop/

